/* Helper classes */

.mr-1 {
    margin-right: pxToRem(10px);
}

.mr-2 {
    margin-right: pxToRem(20px);
}

.mr-3 {
    margin-right: pxToRem(60px);
}

.mb-1 {
    margin-bottom: pxToRem(10px);
}

.mb-2 {
    margin-bottom: pxToRem(20px);
}

.mb-3 {
    margin-bottom: pxToRem(60px);
}

.mt-1 {
    margin-top: pxToRem(20px);
}

.mt-2 {
    margin-top: pxToRem(40px);
}

.mt-3 {
    margin-top: pxToRem(60px);
}

.ml-0 {
    margin-left: pxToRem(0px);
}

.ml-1 {
    margin-left: pxToRem(10px);
}

.ml-2 {
    margin-left: pxToRem(20px);
}

.ml-3 {
    margin-left: pxToRem(30px);
}

@include mq ($sm) {
    .sm-hide {
        display: none;
    }
    .sm-block {
        display: block;
    }
    /* Helper classes */
    .sm-mr-0 {
        margin-right: 0;
    }
    .sm-mr-1 {
        margin-right: pxToRem(10px);
    }
    .sm-mr-2 {
        margin-right: pxToRem(20px);
    }
    .sm-mr-3 {
        margin-right: pxToRem(60px);
    }
    .sm-mb-0 {
        margin-bottom: 0;
    }
    .sm-mb-1 {
        margin-bottom: pxToRem(10px);
    }
    .sm-mb-2 {
        margin-bottom: pxToRem(20px);
    }
    .sm-mb-3 {
        margin-bottom: pxToRem(60px);
    }
    .sm-mt-0 {
        margin-top: 0;
    }
    .sm-mt-1 {
        margin-top: pxToRem(20px);
    }
    .sm-mt-2 {
        margin-top: pxToRem(40px);
    }
    .sm-mt-3 {
        margin-top: pxToRem(60px);
    }
    .sm-ml-0 {
        margin-left: 0;
    }
    .sm-ml-1 {
        margin-left: pxToRem(10px);
    }
    .sm-ml-2 {
        margin-left: pxToRem(20px);
    }
    .sm-ml-3 {
        margin-left: pxToRem(30px);
    }
}

@include mq ($md) {
    .md-hide {
        display: none;
    }
    .md-block {
        display: block;
    }
    /* Helper classes */
    .md-mr-0 {
        margin-right: 0;
    }
    .md-mr-1 {
        margin-right: pxToRem(10px);
    }
    .md-mr-2 {
        margin-right: pxToRem(20px);
    }
    .md-mr-3 {
        margin-right: pxToRem(60px);
    }
    .md-mb-1 {
        margin-bottom: pxToRem(10px);
    }
    .md-mb-2 {
        margin-bottom: pxToRem(20px);
    }
    .md-mb-3 {
        margin-bottom: pxToRem(60px);
    }
    .md-mt-1 {
        margin-top: pxToRem(20px);
    }
    .md-mt-2 {
        margin-top: pxToRem(40px);
    }
    .md-mt-3 {
        margin-top: pxToRem(60px);
    }
    .md-ml-0 {
        margin-left: 0;
    }
    .md-ml-1 {
        margin-left: pxToRem(10px);
    }
    .md-ml-2 {
        margin-left: pxToRem(20px);
    }
    .md-ml-3 {
        margin-left: pxToRem(30px);
    }
}

@include mq ($lg) {
    .lg-hide {
        display: none;
    }
    .lg-block {
        display: block;
    }
    /* Helper classes */
    .lg-mr-0 {
        margin-right: 0;
    }
    .lg-mr-1 {
        margin-right: pxToRem(10px);
    }
    .lg-mr-2 {
        margin-right: pxToRem(20px);
    }
    .lg-mr-3 {
        margin-right: pxToRem(60px);
    }
    .lg-mb-1 {
        margin-bottom: pxToRem(10px);
    }
    .lg-mb-2 {
        margin-bottom: pxToRem(20px);
    }
    .lg-mb-3 {
        margin-bottom: pxToRem(60px);
    }
    .lg-mt-1 {
        margin-top: pxToRem(20px);
    }
    .lg-mt-2 {
        margin-top: pxToRem(40px);
    }
    .lg-mt-3 {
        margin-top: pxToRem(60px);
    }
    .lg-ml-0 {
        margin-left: 0;
    }
    .lg-ml-1 {
        margin-left: pxToRem(10px);
    }
    .lg-ml-2 {
        margin-left: pxToRem(20px);
    }
    .lg-ml-3 {
        margin-left: pxToRem(30px);
    }
}